@import "tailwindcss";

@theme {
  --text-xxs: 10px;
  --color-theme-blue: #2c46b1;
}

body {
  height: 100%;
  display: grid;
  padding: 32px 0;
  place-content: center;
  background: var(--color-gray-200);
}
