@import "tailwindcss";

@theme {
  --text-xxs: 10px;
  --color-theme-blue: #2c46b1;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  display: grid;
  place-content: center;
  background: var(--color-gray-200);
}
